<div class="col-lg-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <button 
                class="btn btn-success btn-margin" 
                type="submit"
                [disabled]="!recipeForm.valid"
                >Save</button>
            <button 
                class="btn btn-danger btn-margin"
                (click)="onCancel()">Cancel</button>
        </div>
        <div class="row form-group">
            <label for="recipe-name">Recipe Name</label>
            <input
             id="recipe-name" 
             name="recipe-name" 
             type="text" 
             placeholder="Enter a recipe name"
             class="form-control"
             formControlName="name">
        </div>
        <div class="row form-group">
            <label for="recipe-desc">Recipe Description</label>
            <textarea 
                name="recipe-desc" 
                id="recipe-desc" 
                rows="5"
                class="form-control"
                formControlName="desc">
                Describe your recipe
            </textarea>


        </div>
        <div class="row form-group">
            <label for="recipe-img">Recipe Image Url</label>
            <input 
                name="recipe-img" 
                id="recipe-img" 
                type="text" 
                placeholder="Enter a recipe image"
                class="form-control"
                formControlName="img"
                #img
                >
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img [src]="img.value" alt="" class="img-responsive">
            </div>
        </div>
        <div class="row form-group" formArrayName="ingredients">
            <div class="row">
                <div
                    *ngFor="let ingredientCtrl of controls(); let i = index"
                    class="row ingredient"
                    [formGroupName]="i">
                    <div class="col-xs-8">
                        <input 
                            type="text" 
                            class="form-control"
                            formControlName="name">
                    </div>
                    <div class="col-xs-2">
                        <input 
                            type="number" 
                            min="1" 
                            class="form-control"
                            formControlName="amount">
                    </div>
                    <div class="col-xs-2">
                         <button 
                            class="btn btn-danger"
                            type="button"
                            (click)="onRemoveIngredient(i)">X</button>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        (click)="onAddIngredient()"
                        type="button"
                        class="btn btn-primary btn-margin-up">Add Ingredient</button>
                    <button 
                        (click)="onClearAllIngredients()"
                        type="button"
                        class="btn btn-danger btn-margin-up">Clear All Ingredients</button>
                </div>
            </div>
        </div>
    </form>
</div>