.bg-img {
    position: absolute;
    left: 0px;
    top: -20px;
    z-index: 0;
}

.home-container {
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}